@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.stat-card {
  @apply bg-white rounded-lg p-4 shadow-sm border border-gray-200;
}
.task-button {
  @apply w-full lg:w-auto flex items-center justify-center gap-2 px-6 py-3 bg-teal-600 text-white rounded-full hover:bg-teal-700 transition-colors shadow-md hover:shadow-lg font-medium;
}
